@font-face {
    font-family: "Asap";
    src: url(/resources/fonts/Asap/Asap-Regular.ttf);
}

@font-face {
    font-family: "Asap-Bold";
    src: url(/resources/fonts/Asap/Asap-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Asap";
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section i {
    font-size: 1.5rem;
}

section p {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1.7px;
    font-family: "Asap-Bold";
    margin-left: 0.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-right: 3rem;
}

nav ul li {
    list-style: none;
    cursor: pointer;
    /* border: red solid 1px; */
}

nav ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    font-weight: bold;
    transition: all 0.6s;
}

.active {
    font-weight: bold;
}

aside {
    position: absolute;
    background-color: white;
    width: 80rem;
    height: 100svh;
    top: 0;
    right: 0;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    left: 100%;
    opacity: 0;
    visibility: hidden;
    transition: left 0.8s ease;
    z-index: 10;
}

aside.open {
    opacity: 1;
    visibility: visible;
    left: 35%;
    transition: left 0.8s ease;
}

aside.close {
    opacity: 1;
    right: 100%;
    visibility: hidden;
}

aside .header {}

aside hr {
    color: rgba(230, 230, 230, 0.562);
    border-radius: 10px;
    margin-top: 1rem;
}

aside .main {}

aside .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

aside .footer button {
    padding: 1rem;
    border: none;
    border-radius: 0.2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

aside .footer button:nth-child(1) {
    width: 50%;
    background-color: rgba(12, 82, 202, 0.726);
}

aside .footer button:nth-child(2) {
    width: 13%;
    background-color: rgba(202, 12, 12, 0.726);
}