@font-face {
    font-family: "Asap";
    src: url(/resources/fonts/Asap/Asap-Regular.ttf);
}

@font-face {
    font-family: "Asap-Bold";
    src: url(/resources/fonts/Asap/Asap-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Asap";
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section i {
    font-size: 1.5rem;
}

section p {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1.7px;
    font-family: "Asap-Bold";
    margin-left: 0.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-right: 3rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    cursor: pointer;
    font-weight: bold;
    transition: all 0.6s;
}

.active {
    font-weight: bold;
}

/* aside {
    background-color: red;
    width: 40rem;
    height: 100svh;
} */
